#nav
  %ul
    %li
      %a.toc{:href => "#table-of-contents"}Table of  Contents
    %li
      %a.discussion{:href => "discussion.html"} Discussion
    %li
      %a.about{:href => "about.html"} About
  #table-of-contents
    %ol#toc
      %li 
        <a href='#sec1'>What is Clean Design?</a>
        %ol
          %li <a href='#sec1.1'>Clean Design Reduces the Effort Needed to Find Information</a>
          %li <a href='#sec1.2'>Informational Needs</a>
          %li <a href='#sec1.3'>Supporting Visual Thinking</a>
          %li <a href='#sec1.4'>The Most Important Thing to Remember</a>
      %li
        <a href='#sec2'>Size</a>
        %ol
          %li <a href='#sec2.1'>Use Size Consistently to Indicate Role</a>
          %li <a href='#sec2.2'>Recognizable Roles Help Users Find Information</a>
          %li <a href='#sec2.3'>Size Summary</a>
      %li
        <a href='#sec3'>Proximity</a>
        %ol
          %li <a href='#sec3.1'>Elements Placed Near Each Other Form Groups</a>
          %li <a href='#sec3.2'>Make Sure the Grouping is Obvious</a>
          %li <a href='#sec3.3'>Proximity Summary</a>
      %li
        <a href='#sec4'>Alignment</a>
        %ol
          %li <a href='#sec4.1'>Use Alignment to Make It Look Clean</a>
          %li <a href='#sec4.2'>Use Alignment to Make It Look Cool</a>
          %li <a href='#sec4.3'>Alignment Summary</a>  
      %li <a href='#sec5'>Elimination</a>
      %li 
        <a href='#sec6'>Learning More</a>
        %ol
          %li <a href='#sec6.1'>Observing and Doing</a>
          %li <a href='#sec6.2'>Further Reading</a>
      %li <a href='#sec7'>Closing Thoughts</a>
      %li <a href='#sec8'>Thank Yous</a>

#header
  %h1.cleanupyourmess
    %a{:href => "/index.html", :rel => "home", :title => "Ir al inicio"}
      %span.text Haz limpieza: una guía de diseño visual para todo el mundo
#content
  %h2.preface Prefacio
  #preface-content.alpha.omega
    .preface-row
      .preface-image 
        %img.topalign{:alt => "", :src => "_media/images/preface/crybaby.jpg"}/
      .preface-text
        %p Si eres igual que casi todo el mundo, te sentirás como un bebé con respecto al diseño visual. A veces tienes una vaga sensación de lo que quieres, pero no puedes articularla o plasmarla. Todo lo que puedes hacer es señalar y llorar. Esta guía te ayudará a comunicarte con una habilidad consciente. Te enseñará a crear diseños que sean atractivos y fáciles de entender.

    .preface-row
      .preface-image
        %img.topalign{:alt => "", :src => "_media/images/preface/bird-of-paradise.jpg"}/
      .preface-text
        %p Antes de darte las herramientas prácticas, espero que esta guía te sirva de inspiración. Una de mis citas favoritas es: "Abro los ojos y veo el paraíso". ¡Qué gran don es la vista! Qué forma tan increíble de conectar con los demás y con el mundo que nos rodea. Mi esperanza es que esta guía te permita comunicarte con más creatividad y más control; y que querrás aprender más.

  = sec "¿Qué es un diseño limpio?"
  .main-content
    %p Mira los dos folletos de abajo. ¿Cuál de ellos te parece más atractivo? ¿Cuál parece más limpio?
  
  = haml :flyers
  
  .main-content
    %p Si el de la derecha te parece más limpio, entonces: ¡hurra! He hecho mi trabajo. Pero, ¿qué <em>significa</em> «parecer más limpio»?
  = subsec "Los diseños limpios reducen el esfuerzo necesario para hallar información"
  .main-content
    %p Sea lo que sea que estés creando &mdash;un folleto, un currículum vitae, una página web, una invitación a una fiesta&mdash;, el objetivo básico que debe perseguir es transmitir la información que le interesa a tu audiencia. Debe ayudar a tu audiencia a responder a preguntas como: «¿Es este el documento que estoy buscando?», «¿Qué texto es el que explica esta gráfica?» y «¿Cuánto tiempo tengo para ofrecer el rescate del secuestro?». Por ejemplo, el folleto de aikido sirve para que la gente responda a: «¿De qué va esto?», «¿Cuándo es?» y «¿Dónde es?».
  .side-content
    %img{:src => "_media/images/brains/ransom.png"}/
  .main-content
    %p Las dos versiones del folleto proporcionan exactamente la misma información. Sin embargo, es más fácil encontrar la información en el folleto de la derecha.
    %p Por tanto, ese folleto es limpio porque ayuda a la gente a encontrar y consumir la información que contiene con un menor esfuerzo consciente. Está diseñado con características visuales que permiten a los mecanismos de pensamiento visual del cerebro hacer suposiciones correctas sobre cómo se organizan las distintas partes del contenido y qué es relevante.
  .main-content
    %p Esto es deseable porque el pensamiento visual funciona mucho más rápidamente que el pensamiento lógico y consciente, que funciona paso a paso. Por ejemplo, si quisieras saber cuáles son las principales ideas solo a partir del texto de los folletos de aikido, te llevaría mucho más tiempo y sería más tedioso que con el folleto, incluso con el folleto «confuso». Puedes comprobarlo mirando el texto de la derecha.
    %p Por contestar de forma concisa a la pregunta «¿Qué es el diseño limpio?»: un diseño limpio es el que ayuda al pensamiento visual para que la gente pueda satisfacer sus necesidades informativas con el menor esfuerzo consciente.
  .side-content.marginal
    %p Aikido. Beginner class. Starts Sunday, April 27, 2008, 1:00 - 2:00 p.m. 8-week course &mdash; $95. Adult class (12 and older). No martial arts experience necessary. Call to reserve a space. Regular classes. Tuesday 7:30 p.m. Thursday 7:45 p.m. Sunday 1:00 & 2:15 p.m. Come visit. Please come and visit any of our classes to determine if aikido is right for you!
  
  = subsec "Necesidades informativas"
  .main-content
    %p La gente tiene siempre las mismas necesidades informativas cuando miran un documento que has diseñado:
    %ol
      %li
        %strong Decidir la relevancia.
        ¿Me importa?
      %li
        %strong Obtener una perspectiva general.
        ¿Cuáles son las ideas principales? ¿Qué es lo más importante?
      %li
        %strong Comprensión básica.
        ¿Qué texto explica esta gráfica?
      %li
        %strong Recuperar detalles enterrados.
        Recuerdo algo sobre un orangután... ¿dónde estaba eso?
      %li
        %strong Encontrar los detalles que requieren una acción.
        ¿Cómo me pongo en contacto?
    %p Normalmente, las necesidades informativas de una persona evolucionarán más o menos en el orden que acabo de listar. Por ejemplo, cuando alguien mira un folleto, su proceso mental puede ser algo así:
    %ol
      %li ¿De qué va este folleto? Mmm... parece que va de frenología. ¡Necesito un frenólogo!
      %li ¿Qué servicios ofrecen? ¿Están certificados? ¿Están cerca? ¡Madre mía: sí, sí y sí!
      %li ¿Cómo contacto con ellos? ¡Qué bien, aquí está el número de teléfono! Les llamaré cuando llegue a casa.
      %li <em>(Más tarde, en casa)</em> A ver dónde estaba ese número...
    %p Lo más importante que hay que recordar es que lo que sea que vayas a hacer no lo vas a hacer para ti. Lo vas a hacer para ayudar a otro a encontrar la información que busca.
  .side-content
    %img{:src => "_media/images/intro/phrenology-brochure-2.jpg"}
    %p.caption Este Instituto existe de verdad
  = subsec "Ayudar al pensamiento visual"
  .main-content
    %p La información se transmite a través de la disposición de los elementos de un diseño relativa a los demás elementos. La gente que mira tus diseños asimila esta información inmediatamente, aunque no conscientemente. Esto es genial si las relaciones visuales son obvias y precisas pero, si no lo son, tu público va a quedar desconcertado. Tendrán que examinar detenidamente tu trabajo, recorriendo varias veces las distintas partes para asegurarse de que lo entienden todo.
  .main-content
    %p Si quieres sentir esto que digo, intenta decir en voz alta los colores de las palabras de la derecha. Por ejemplo, en la primera palabra dirías «rojo». Ahora intenta leer las propias palabras. ¿Te sigue doliendo el cerebro?
    %p
      Es más difícil decir el color de cada palabra que decir la propia palabra, porque nuestros cerebros determinan automáticamente el significado semántico de la palabra. Esto entra en conflicto con la identificación del color de la palabra, un proceso que no es automático. Por tanto, nuestros cerebros tienen que resolver las interpretaciones conflictivas de los estímulos visuales, un proceso que requiere esfuerzo. (Esto se conoce como
      = succeed ".)" do
        %a{:href => "http://es.wikipedia.org/wiki/Efecto_Stroop", :title => "Efecto Stroop - Wikipedia, la enciclopedia libre"} efecto Stroop
    %p Cuando crees un documento, querrás eliminar estos conflictos entre el significado percibido automáticamente y el significado real. El resto de esta guía está dedicado precisamente a eso, explicando tres características visuales: tamaño, proximidad y alineación. También explicará una herramienta valiosa: la eliminación. Pero antes de eso...
  .side-content
    = haml :stroop

  = subsec "Lo que no debes olvidar"
  .main-content
    %p La principal causa de un diseño confuso son las diferencias leves e involuntarias entre los elementos. Hacen que el procesamiento visual de tu cerebro titubee. Primero, tu cerebro tiene que determinar si existe realmente una diferencia visual. Luego, tiene que determinar la importancia de esa diferencia. Como en realidad las discrepancias pequeñas no expresan nada, terminas malgastando la capacidad intelectual de tu público. Procura ceñirte a un estilo visual consitente en el que los elementos que son similares lógicamente tengan un aspecto similar, o tengan un aspecto inequívocamente distinto en caso contrario.
    %p Puedes observar esto en la imagen de la derecha. En ambos conjuntos hay un punto negro que tiene un tamaño distinto y un punto verde que tiene un color distinto (bueno, en el conjunto de abajo ya no es verde, pero ya me entiendes). Al utilizar un contraste claro y deliberado, es más fácil distinguir los elementos de distinto tipo en el diseño. Eso facilita la búsqueda de información. Y eso es lo que hace que un diseño sea limpio.
  .side-content
    %img{:src => "_media/images/contrast-circles.png"}
  = sec "Size"
  .main-content
    %p
      Echémosle otro vistazo a los folletos de aikido:
  
  = haml :flyers
  .main-content
    %p ¿En qué difieren sus usos del tamaño? ¿Cómo contribuye (o perjudica) esa diferencia a su comprensibilidad?
    %p Hay dos diferencias importantes en la manera en que ambos folletos utilizan el tamaño. Primero, el contraste entre el texto de cabecera y los detalles es mucho mayor; el texto de cabecera es mucho más grande. Segundo, el tamaño se usa de manera consistente entre los elementos similares.
  = subsec "Utiliza el tamaño de manera consistente para indicar el rol"
  .main-content
    %p Estas mejoras sirven para mostrar claramente los roles de las distintas partes del texto. El folleto mejorado deja claro qué es texto de cabecera y qué es texto de detalle. Aunque el texto estuviera en otro idioma, serías capaz de diferenciar las cabeceras del detalle.
    %p ¿Podemos decir lo mismo del original? Tiene pequeños cambios en el tamaño de la letra entre un bloque de texto y el siguiente, y no hay dos bloques que se parezcan mucho.
    %p Por ejemplo, el bloque que empieza con "Por favor, ven a visitarnos" es un poco más pequeño, pero está todo en mayúscula y negrita. ¿Puedes decir fácilmente qué es texto de cabecera y qué es texto de detalle?
  = zoomable "_media/images/size/aikido-after-highlighted.png"
  
  = subsec "Los roles reconocibles ayudan a los usuarios a buscar información"
  .main-content
    %p ¿Por qué es importante que estos roles (en este caso, cabecera y detalle) sean obvios? Al hacer que los roles sean visualmente distintos ayudamos a la gente a buscar la información que necesitan. Confiamos en que las cabeceras nos ayudarán a hacernos una idea de de qué va el documento. También las usamos para dirigirnos hacia los detalles que más nos interesan. Al mismo tiempo, sabemos cómo prestarle menos atención a las cabeceras cuando estamos leyendo el texto de detalle.
    %p Al utilizar el tamaño para distinguir claramente los roles de las diferentes partes del contenido ayudamos a la gente a dirigir su atención de manera eficiente. Saben en qué centrarse y qué ignorar, dependiendo de lo que estén buscando.
    %p En los supermercados puedes ver en funcionamiento esta misma idea. Los carteles de los pasillos actúan como cabeceras: son cortos, fácilmente distinguibles y sirven para ayudarte a buscar esa mezcla para brownies que, por alguna razón, ansías a las 2 de la mañana.
  = subsec "Resumen sobre el tamaño"
  .main-content
    %h4 Identifica los roles de los elementos visuales.
    %p ¿Qué fin tienen las distintas partes del texto? ¿Qué preguntas ayudan a responder? ¿Las cabeceras responden preguntas del tipo «¿de qué va esto?» y «¿dónde está la información de contacto?»?
    
    %h4 Dimensiona los elementos de manera consistente.
    %p Las cabeceras deben tener el mismo aspecto que las otras cabeceras. El texto de detalle debe tener el mismo aspecto que otros textos de detalle. Las variaciones pequeñas de tamaño son confusas, porque el cerebro tiene que averiguar si las diferencias tienen significado.
    
    %h4 Deja que haya un gran contraste entre los elementos que tienen distinto rol.
    %p Esto ayuda a que la gente identifique fácilmente los distintos tipos de contenido de tu diseño, y eso les ayuda a buscar la información que necesitan.
  = sec "Proximidad"
  .main-content
    %p Mira estos gatitos:
  .kittens
    %img{:src => "_media/images/proximity/kittens.jpg"}
  .main-content
    %p Cuando miraste la colección de la derecha, ¿pudiste reconocer inmediatamente que hay dos grupos de gatos? ¿Y qué hay de la colección de la izquierda; están agrupados los gatitos?
  
  = subsec "Los elementos que se colocan cerca unos de otros forman grupos"
  .main-content
    %p Cuando vemos gatos (o cualquier otro elemento visual) colocados cerca unos de otros, nuestros cerebros dan por supuesto que forman un grupo que comparte un concepto unificador. Los gatos de la derecha están agrupados por color: grises abajo, no grises arriba.
    %p Al agrupar el contenido y los elementos visuales relacionados, ayudamos al usuario a encontrar rápidamente la información que necesita. Para evitar confusión y frustración, agrupa los elementos que estén relacionados realmente. Esto parece obvio, pero es fácil olvidarlo.
    %p Examples of this concept abound. For myself, I have this great habit of absent-mindedly setting down whatever's in my hand wherever I am. This once resulted in my leaving an open can of cat food in a cupboard amongst piles of tupperware. This made it hard to later find the cat food, as it was not in close proximity to the cat dish or to anything remotely related to feeding cats.
    %p I know what you're thinking: "That's gross! Why would you include that story?" I'll tell you why: it's so you'll think twice before you misuse or abuse proximity in your designs.
    
  = subsec "Make Sure the Grouping Is Obvious"
  .main-content
    %p Check out the photos to the right. In the left group, you can't really tell who the caption applies to. Which guy has a complicated relationship to hotdogs!? You don't really know. Maybe you can guess based on their facial expressions and on your own experience with hotdogs.
    %p In the right group, however, you can see exactly which photo the caption is meant to apply to.
    %p The lesson is that you should leave much more whitespace between non-related elements than related elements in order to make the logical groupings visually clear.
  = zoomable "_media/images/proximity/hotdogs.jpg"
  = subsec "Proximity Summary"
  .main-content
    %h4 Place related items close to each other.
    %p Our visual brains assume that items placed close to each other form logically related groups.
    
    %h4 Make sure the grouping is obvious.
    %p Put enough whitespace between groups to make it clear what elements are actually grouped together. Otherwise people have to go through the trouble of closely examining your design to figure out what goes with what. 
    
  = sec "Alignment"
  .main-content
    %p Alignment is crucial to giving your designs a clean appearance and to conveying organization. Slight misalignments are confusing and look messy. On the other hand, using strongly contrasting alignments can make your design more interesting and attractive.
    %p Alignment is one of those features that's easy to overlook &mdash; newbies usually don't give any conscious attention to it. However, you can really change the character of your design by changing the alignment.
  = subsec "Use Alignment to Make It Look Clean"
  .main-content
    %p Time for an example! Behold!
  .acatemy
    .ad
      %img{:src => "_media/images/alignment/terrible-alignment.jpg"}
      %p.caption Sloppy Alignment
    .ad
      %img{:src => "_media/images/alignment/center-alignment.jpg"}
      %p.caption Centerish Alignment
    .ad
      %img{:src => "_media/images/alignment/left-alignment.jpg"}
      %p.caption Left Alignment
  .main-content
    %p The slight misalignments in the leftmost "ad" make it look sloppy. If there's one thing you should have learned by now, it's that small, unintentional visual differences are like sand in the engine of your visual brain.
    %p Our brains expect related content to be lined up neatly. If something is slightly out of line, our brains assume there's a reason and try to find it. Since the last line of the ad ("Trapping Hands...") is out of line, our brains search for a reason. When they don't find one they send out minute amounts of grumpiness-inducing chemicals that cause us to consider the ad sloppy.
  .main-content
    %p The center ad employs center alignment and doesn't look much better. To be fair, it's not completely centered, but even if it were it would look bad. Centering gives text ragged left and right edges, which look worse the more text there is.
    %p In general, the uncouth barbarians who haven't read this guide are especially prone to center-aligning everything. You can see this in the original aikido flyer, shown to the right.
    %p Often, the best bet is to use left- or  right-alignment. You can see left-alignment in the rightmost "Acatemy of Evil" ad. It won't win any awards, but it does look better than the other two ads.
  = zoomable "_media/images/aikido-before.png"
  = subsec "Use Alignment to Make It Look Cool"
  .main-content
    %p You can make designs look more interesting out by intentionally using different alignments. Have a look at the image to the right.
    %p The headlines "A Checklist for Content Work" and "CSS Floats 101" are centered, as are their bylines. By contrast, the headline "Content-tious Strategy" is left-aligned.
    %p This difference in centering subtly helps to distinguish the content in the left column, indicating that it's more noteworthy than the content in the right column. There are other visual features at play, too. For example, the headlines in the left column are slightly larger and the column is wider. Still, the center alignment is a nice touch.
    %p By the way, this example is a cropped screen shot of the <a href="http://www.alistapart.com" title="A List Apart">A List Apart</a> home page. The web site exhibits superb design, and you can learn a lot just by looking at it.
  = zoomable "_media/images/alignment/ala-alignment.png"
  = subsec "Alignment Summary"
  .main-content
    %h4 Avoid Slight Misalignments
    %p Slight misalignments look messy. Because the brain thinks that visual differences mean something, a misalignment makes it waste effort trying to figure out the meaning.
    %h4 Break Your Center Alignment Habit
    %p Center alignment often gives a much "weaker" impression than left or right alignment. It looks especially bad with many lines of text.
    %h4 Experiment With Contrasting Alignments
    %p Consciously using different alignments in your design can serve to make it look more interesting. It can also make it easier for people to find information in it by further distinguishing the separate sections.
  = sec "Elimination"
  .main-content
    %p Often, people add extra lines, boxes, bullets and other visual flotsam in order to convey information that's adequately conveyed with Size, Proximity and Alignment. Including this fluff makes your user’s brain work harder, as it has to figure out the significance of these elements. For example:
  = haml :flyers
  .main-content
    %p Ah yes, our trusty aikido flyers. See how the original flyer has a bunch of lines? Some of the lines act as boundaries, enclosing the entire space and dividing the left and right sections. The rest of the lines separate sub-sections.
    %p All of the lines are thoroughly unnecessary. Proximity and alignment alone provide our visual brains with enough information to distinguish the various chunks of content.
    %p Usually the folks who add these unneeded visual elements do so because there's too much crammed in the design. It's like when you're at a bar and the people around you are talking loudly, so you start talking louder, so they start talking louder, and so on until everyone passes out or goes home.
    %p The solution isn't to add more noise to the design. If instead you use what you've learned here &mdash; Size, Proximity, and Alignment &mdash; you'll end up with a design that's a pleasure to look at.
  = sec "Learning More"
  .main-content
    %p There's so much more to design! Color, typography, harmony, balance, symmetry, rhythm &mdash; the list goes on and on, and it's all super fun. The best way to really "get" design, though, is to do it. Just like pickle backs (google it!).
  = subsec "Observing and Doing"
  .main-content
    %p One of my favorite past-times is analyzing the visual design of the stuff I encounter in everyday life. Menus are probably my favorite target: is it easy to tell which price goes with which item? Is it easy to find the dish I want?
    %p It's also fun to keep an eye out for designs produced by average Joe's and Jane's. Basically anything you'd see tacked to a public cork board.
    %p I recommend you take up this practice. Ask yourself what you would do differently. Could you make it cleaner? What would you remove?
  = subsec "Further Reading"
  .main-content
    %p  Another great way to learn more is to read design books. As you learn more design concepts, you'll be able to notice them in other designs and apply them in your own. Fun!
    %p Below is a list of books I've read myself which I consider useful for beginners. If you click the links I provide and buy stuff, then Amazon gives me some money. Hooray!
    %dl.books
      %dd
        %dl.book
          %dt
            = amazon_image "Universal Principles of Design", 1592535879, "universal-principles-of-design.jpg"
            = amazon_link "Universal Principles of Design", 1592535879
          %dd.author
            by William Lidwell, Kritina Holden, and Jill Butler
          %dd.description
            %p One of the biggest challenges in learning a new discipline is learning the vocabulary. This book gives you the names for 125 design concepts, with great textual descriptions of the concept and plenty of illustrations. Coverage is succinct and engaging at the same time.
            %p 
              The best thing about this book is that it lends itself to random reading. Pop it open to any page and you'll learn something new.
              %br
              = amazon_link "Buy on Amazon", 1592535879
        %dl.book
          %dt
            = amazon_image "The Non-Designer's Design Book", "0321534042", "non-designers-design-book.jpg"
            = amazon_link "The Non-Designer's Design Book", "0321534042"
          %dd.author
            by Robin Williams
          %dd.description
            %p This was the first design book I read. It opened my eyes to the world of design, for which I'm very grateful. Robin covers some of the same material as I cover here, but in a different way.
            %p 
              The book also covers typography, and I still think it's the best beginner's guide out there. Worth it for that alone. You can probably find an older edition for a couple bucks.
              %br
              = amazon_link "Buy on Amazon", "0321534042"
        %dl.book
          %dt
            = amazon_image "Don't Make Me Think", "0321344758", "dont-make-me-think.jpg"
            = amazon_link "Don't Make Me Think", "0321344758"
          %dd.author
            by Steve Krug
          %dd.description
            %p This is a quick and readable book on web usability. It really made me understand that design isn't about me trying to show off my creative ability; it's about meeting the needs of your users.
            %p 
              It's a must-have for web developers, but I think almost everyone else would find it interesting too.
              %br
              = amazon_link "Buy on Amazon", "0321344758"
        %dl.book
          %dt
            = amazon_image "Visual Thinking for Design", "0123708966", "visual-thinking.jpg"
            = amazon_link "Visual Thinking for Design", "0123708966"
          %dd.author
            by Colin Ware
          %dd.description
            %p If you're interested in the underlying mechanics of visual perception and how to bring that to design, this is the book for you. The scientific discussion of design will tell you, at the deepest level, why different techniques and principles work.
            %p 
              It assumes a degree of familiarity with design concepts, but don't let that deter you, especially now that you've read this guide!
              %br
              = amazon_link "Buy on Amazon", "0123708966"
    %p Here are some additional links which I've hastily thrown together:
    %ul
      %li 
        %a{:href => "http://www.webtypography.net/"} The Elements of Typographic Style Applied to the Web
      %li
        %a{:href => "http://www.designhistory.org/"} History of Graphic Design
  = sec "Closing Thoughts"
  .main-content
    %p I hope that you've found this guide informative and entertaining. More than that, I hope you'll feel more creative and confident the next time you have to create any form of visual communication.
    %p I intentionally made this site free. I love design, and want to share that love with as many people as possible. If the site was helpful to you, share it with others :) It makes me happy to know that my work is in some small way helping people. I'd love to hear any feedback on it, either through <a href="mailto:daniel@flyingmachinestudios.com">email</a>, <a href="http://www.twitter.com/nonrecursive">twitter (@nonrecursive)</a>, or on the <a href="discussion.html">discussion page</a>. If you have any questions or criticism, I would love to hear that too.
    %p Happy designing!
    
  = sec "Thank Yous"
  .main-content
    %p A lot of people took time to give me feedback on this site, for which I am very grateful. Here they are!
    %ul
      %li Pat Shaughnessy
      %li Alex Rothenberg
      %li Daniel Rodriguez
      %li Jess Bulu
      %li Lea Downing
      %li Su Jones
      %li Chris Laws
      %li Nicole Rose
      %li Nadir Ait-Laoussine
      %li Zed Shaw
      %li Chad Wegner
