- require "../helpers/haml_helper"
- self.extend HamlHelper
!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Clean Up Your Mess - Home Page
    %link{:href => "_ui/stylesheets/screen.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "_ui/fancybox/jquery.fancybox-1.3.4.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "_ui/js/jquery.min.js", :type => "text/javascript"}
    %script{:src => "_ui/js/main.js", :type => "text/javascript"}
    %script{:src => "_ui/fancybox/jquery.fancybox-1.3.4.pack.js", :type => "text/javascript"}
    
  %body.home
    #page
      #header
        %h1.cleanupyourmess
          %a{:href => "#", :rel => "home", :title => "Go to homepage"}
            %span.text Clean Up Your Mess
      #content
        %h2.preface Preface
        #preface-content.alpha.omega
          .preface-row
            .preface-image 
              %img.topalign{:alt => "", :src => "_media/images/preface/crybaby.jpg"}/
            .preface-text
              %p If you're like most people, you feel like a baby when it comes to visual design. You sometimes have a vague sense of what you want, but can't articulate it or make it come about. All you can do is point and cry. This guide will help you will help you communicate with conscious skill. It will show you how to create designs that are easy to understand and attractive.
      
          .preface-row
            .preface-image
              %img.topalign{:alt => "", :src => "_media/images/preface/bird-of-paradise.jpg"}/
            .preface-text
              %p Beyond giving you practical tools, I hope this guide inspires you. One of my favorite quotes is, "I open my eyes and I see paradise." What a great gift vision is! What an incredible way to connect to the world around us and to each other. My hope is that this guide will allow you to communicate with more creativity and more control &ndash; and that you'll want to learn more.
    

        = sec "What is Clean Design?"
        .main-content
          %p Have a look at the two flyers below. Which one is more appealing to you? Which one looks cleaner?
        
        = haml :flyers
        
        .main-content
          %p If the one on the right looks cleaner to you, then &ndash; hooray! I've done my job. But what does it <em>mean</em> to "look cleaner"?
        = subsec "Clean Designs Reduce the Effort Needed to Find Information" 
        .main-content
          %p Whatever you're creating &mdash; a brochure, a resume, a web page, a party invitation &mdash; the basic purpose it must serve is to convey the information your audience is interested in. It must help your audience answer questions like "Is this document the one I'm looking for?" and "What text explains this chart?" and "By what time is the ransom due?" For example, the aikido flyer helps people answer, "What's this about?" and "When is it?" and "Where is it?".
        .side-content
          %img{:src => "_media/images/brains/ransom.png"}/
        .main-content
          %p The two versions of the flyer provide the exact same information. The one on the right, however, makes it easier for people to find that information.
          %p That flyer is clean, then, because it helps people find and consume the information within it with less conscious effort. It's designed so that its visual qualities allow the brain's visual thinking capabilities to make correct assumptions about how the different bits of content are organized and about what's important.
        .main-content
          %p This is desirable because visual thinking happens much more quickly than conscious, step-by-step logical thinking. For example, if you wanted to understand what the main ideas were from just the text of the aikido flyers, it would take much longer and be more tedious than it would to use even the "messy" flyer. You can see for yourself by looking at the text to the right.
          %p To answer the question "What is clean design?" most succinctly: a clean design is one that supports visual thinking so people can meet their informational needs with a minimum of conscious effort.
        .side-content.marginal
          %p Aikido. Beginner class. Starts Sunday, April 27, 2008, 1:00 - 2:00 p.m. 8-week course &mdash; $95. Adult class (12 and older). No martial arts experience necessary. Call to reserve a space. Regular classes. Tuesday 7:30 p.m. Thursday 7:45 p.m. Sunday 1:00 & 2:15 p.m. Come visit. Please come and visit any of our classes to determine if aikido is right for you!
        
        = subsec "Informational Needs"
        .main-content
          %p People have the same basic informational needs when looking at a document you've designed:
          %ol
            %li
              %strong Deciding relevance.
              Do I even care?
            %li
              %strong Getting an overview.
              What are the main ideas? What's most important?
            %li
              %strong Basic comprehension.
              What text explains this chart?
            %li
              %strong Retrieving buried details.
              I remember something about an orangutan... where was that?
            %li
              %strong Finding actionable details.
              How do I get in touch?
          %p The informational needs of a single person will usually evolve in roughly the order listed above. For example, if someone's looking at a brochure, his thought process might be something like:
          %ol
            %li What's this brochure about? Hm... looks like it's about phrenology. I need a phrenologist!
            %li What services do they provide? Are they certified? Are they local? My heavens &mdash; yes, yes, and yes!
            %li How do I get in touch? Oh goody, there's the phone number! I'll call when I get home.
            %li <em>(Later, at home)</em> Now where was that number...
          %p The important to thing to remember is that you're not making your whatever-it-is-you're-making for you. You're making it to help someone else find the information she needs.
      
        = subsec "Supporting Visual Thinking"
        .main-content
          %p You convey information by the way you arrange a design's elements in relation to each other. This information is understood immediately, if not consciously, by the people viewing your designs. This is great if the visual relationships are obvious and accurate, but if they're not, your audience is going to get confused. They'll have to examine your work carefully, going back and forth between the different parts to make sure they understand.
        .main-content
          %p If you want to feel what this is like, try saying the colors of the words to the right. For example, for the first word you would say "red". Now, try saying the words themselves. Does your brain hurt yet?
          %p
            It's harder to say the color of each word than it is to say the word itself because our brains automatically determine the semantic meaning of the word. This conflicts with the identification of the color of the word, a process which is not automatic. Our brains must then resolve the conflicting interpretations of the visual stimuli, a process which takes work. [cite
            = succeed "]" do
              %a{:href => "http://en.wikipedia.org/wiki/Stroop_effect", :title => "Stroop effect - Wikipedia, the free encyclopedia"} stroop effect
          %p When you're creating a document, you want to eliminate these conflicts between automatically perceived meaning and actual meaning. The rest of this guide is dedicated to doing just that by explaining three visual features: size, proximity, and alignment. It will also explain a valuable tool: elimination. But before that...
        .side-content
          = haml :stroop
      
        = subsec "The Most Important Thing to Remember"
        .main-content
          %p The basic cause of messy design is slight, unintentional differences among elements. This causes your brain's visual processing to falter. First, your brain has to determine if there actually is a visual difference. Then, it has to determine the significance of that difference. Because the small discrepancies don't actually signify thing, you end up wasting your audience's brainpower. Strive for a consistent visual style where elements which are logically similar look similar to each other and look unambiguously different otherwise.
        = sec "Size"
        .main-content
          %p
            Have another look at the aikido flyers:
        
        = haml :flyers
        .main-content
          %p How do they use size differently? How do the differences contribute (or detract from) their understandability?
          %p There are two main differences in how size is used between the two flyers. First, the contrast between the header text and the details is much greater; the header text is much larger. Second, size is used consistently among similar elements.
        = subsec "Consistent Sizing Helps Indicate Role"
        .main-content
          %p These improvements serve to clearly reveal the roles of the different bits of text. The improved flyer makes it clear what's header text and what's detail text. Even if the text were in another language, you would be able to differentiate the headers from the details.
          %p Can you say the same about the original? It has slight changes in font size between one block of text and the next, and no two blocks look quite alike. For example, the block starting with "Please come and visit" is slightly smaller, but in all caps and bold. Can you easily tell what's header text and what's detail text?
        = zoomable "_media/images/size/aikido-after-highlighted.png"
        
        = subsec "Recognizable Roles Help Users Find Information"
        .main-content
          %p Why is it important to make these roles (in this case, header and detail) obvious? Making these roles visually distinct helps people find the info they need. We rely on headers to help us get an idea of what the document's about. We also use them to narrow in on the details we're most interested in. At the same time, we know to pay less attention to headers when we're going through detail text. 
          %p Using size to clearly distinguish the roles of the different bits of content helps people efficiently direct their attention. They know what to focus on and what to ignore, depending on what they're looking for.
          %p You can see the same idea at work at a supermarket. The aisle signs act as headers &mdash; they're short, readily noticeable, and they're meant to help you find the brownie mix that you're for some reason craving at 2:00 am.
          
        = sec "Proximity"
        .main-content
          %p Have a look at the kittens below:
        .kittens
          %img{:src => "_media/images/proximity/kittens.jpg"}
        .main-content
          %p When you looked at the collection on the right, did you immediately recognize that there are two groups of kittens? How about the collection on the left - are the kittens grouped?
        
        = subsec "Elements Placed Near Each Other Form Groups"
        .main-content
          %p When we see kittens (or any other visual elements) placed closely to each other our brains immediately assume that they form a group sharing a unifying concept. The kittens to the right are grouped by color &mdash; grey on the bottom, non-grey on the top.
          %p By grouping related content and visuals together you help the user quickly find the information he needs. To prevent confusion and frustration, group elements which are actually related. That sounds obvious, but it's easy to forget.
          %p Examples of this concept abound. For myself, I have this great habit absent-mindedly setting down whatever's in my hand wherever I am. This once resulted in my leaving an open can of cat food in a cupboard amongst piles of tupperware. This made it hard to later find the cat food.
          %p I know what you're thinking: "That's gross! Why would you include that story?" I'll tell you why: it's so you'll think twice before you misuse or abuse proximity in your designs.
          
        = subsec "Make Sure the Grouping Is Obvious"
        .main-content
          %p Check out the photos to the right. In the left group, you can't really tell who the caption applies to. Which guy has a complicated relationship to hotdogs!? You don't really know. Maybe you can guess based on their facial expressions and on your own experience with hotdogs.
          %p In the right group, however, you can see exactly which photo the caption is meant to apply to.
          %p The lesson is that should leave much more whitespace between non-related elements than related elements in order to make the logical groupings visually clear.
        = zoomable "_media/images/proximity/hotdogs.jpg"
        = sec "Alignment"
        .main-content
          %p Alignment is crucial to giving your designs a clean appearance and to conveying organization. Slight misalignments are confusing and look messy. On the other hand, positioning an element so that it’s clearly out of alignment is an effective way of making it stand out.
        = subsec "Organization"
        .main-content
          %p Elements sharing alignment are seen as related.
        = subsec "Cleanliness"
        .main-content
          %p Slight misalignments make for more work. Since they don't actually convey information, or rather, they convey misinformation, the result is an impression of messiness.
        = subsec "Attention"
        .main-content
          %p You can make an element stand out by intentionally breaking alignment.
        = sec "Elimination"
        .main-content
          %p Often, people add extra lines, boxes, bullets and other visual flotsam in order to convey information that's adequately conveyed with Size, Proximity and Alignment. Including this fluff makes your user’s brain work harder, as it has to figure out the significance of these elements.
        = subsec "How to Identify Visual Hoo-Ha"
        .main-content
          %p Does it say something already said?
        = subsec "Learn to Embrace White Space"
        .main-content
          %p Uncomfortable with white space
        = sec "Learning More"
        = subsec "Further Reading"
        = subsec "Observing and Doing"
      / / #content
      #footer.container_16 &nbsp;
      / / footer
